{{ template "header.html" . }}

<h1 class="dex-title">{{ .Tr.device_title }}</h1>
<p class="dex-subtitle">{{ .Tr.device_instructions }}</p>

<form method="post" action="{{ .PostURL }}">
    <div class="dex-input-group">
        <input required id="user_code" name="user_code" type="text" class="dex-input" placeholder="XXXX-XXXX" autocomplete="off" {{ if .UserCode }} value="{{.UserCode}}" {{ end }} {{ if .Invalid }} autofocus {{ end }} style="text-align: center; letter-spacing: 2px; font-family: monospace; font-size: 20px;"/>
    </div>

    {{ if .Invalid }}
    <div class="dex-error">
        Invalid or Expired User Code
    </div>
    {{ end }}

    <button type="submit" class="dex-btn">{{ .Tr.login_button }}</button>
</form>

{{ template "footer.html" . }}
