{{ template "header.html" . }}

<h1 class="dex-title">{{ .Tr.login_title }}</h1>

<form method="post" action="{{ .PostURL }}">
    {{ if .RequireTOTP }}
    <input type="hidden" name="login" value="{{ .Username }}" />
    <input type="hidden" name="password" value="{{ .Password }}" />
    <input type="hidden" name="receipt" value="{{ .Receipt }}" />
    {{ if .ShowDomain }}<input
        type="hidden"
        name="domain"
        value="{{ .Domain }}"
    />{{ end }}

    <div class="dex-input-group">
        <label for="totp" class="dex-label">TOTP / App Code</label>
        <input
            tabindex="1"
            required
            id="totp"
            name="totp"
            type="text"
            class="dex-input"
            autofocus
            autocomplete="off"
        />
    </div>

    {{ if .Invalid }}
    <div class="dex-error">Invalid TOTP code.</div>
    {{ end }}

    <button tabindex="2" id="submit-login" type="submit" class="dex-btn">
        Verify
    </button>

    {{ else }}
    <!-- Normal Login -->

    <div class="dex-input-group">
        <label for="login" class="dex-label">{{ .Tr.username_label }}</label>
        <input
            tabindex="1"
            required
            id="login"
            name="login"
            type="text"
            class="dex-input"
            placeholder="{{ .UsernamePrompt }}"
            {{
            if
            .Username
            }}
            value="{{ .Username }}"
            {{
            else
            }}
            autofocus
            {{
            end
            }}
        />
    </div>

    <div class="dex-input-group">
        <label for="password" class="dex-label">{{ .Tr.password_label }}</label>
        <input
            tabindex="2"
            required
            id="password"
            name="password"
            type="password"
            class="dex-input"
            placeholder=""
            {{
            if
            .Invalid
            }}
            autofocus
            {{
            end
            }}
        />
    </div>

    {{ if .ShowDomain }}
    <div class="dex-input-group">
        <label for="domain" class="dex-label">Domain</label>
        <input
            tabindex="3"
            id="domain"
            name="domain"
            type="text"
            class="dex-input"
            placeholder="domain"
            {{
            if
            .Domain
            }}
            value="{{ .Domain }}"
            {{
            end
            }}
        />
    </div>
    {{ end }} {{ if .Invalid }}
    <div class="dex-error">Invalid credentials.</div>
    {{ end }}

    <button tabindex="4" id="submit-login" type="submit" class="dex-btn">
        {{ .Tr.login_button }}
    </button>
    {{ end }}
</form>

{{ if .BackLink }}
<a class="dex-btn dex-btn-secondary" href="{{ .BackLink }}"
    >{{ .Tr.back_button }}</a
>
{{ end }}

<script type="text/javascript">
    document.querySelector("form").onsubmit = function (e) {
        var el = document.querySelector("#submit-login");
        el.setAttribute("disabled", "disabled");
        el.innerHTML = "Signing in...";
    };
</script>

{{ template "footer.html" . }}
